{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {yamerl, {git, "https://github.com/yakaz/yamerl", {ref, "bdb3b032f972a397c527667254393cd3c8942df3"}}},
    {magicbeam, {git, "https://github.com/otakup0pe/magicbeam", {branch, "mainline"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, [
            {covertool, "2.0.6"}
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {cover_export_enabled, true},
        {cover_spec, "cover.spec"},
        {covertool, [{coverdata_files, ["eunit.coverdata", "ct.coverdata"]}]}
    ]}
]}.

{ct_opts, [{dir, "test"}]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]},
    {plt_extra_apps, [compiler, magicbeam]},
    {exclude_mods, [mcc_shell]}
]}.

{shell, [{apps, [mcc]}]}.
